## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN', 'NAME'], axis=1, inplace=True)

In [3]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()

In [4]:
# Determine the number of unique values in each column.
application_df[application_cat].nunique()

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
app_type_counts = application_df.APPLICATION_TYPE.value_counts()
app_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type_counts[app_type_counts < 200].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
app_class_counts = application_df['CLASSIFICATION'].value_counts()
app_class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(app_class_counts[app_class_counts < 1550].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Generate our categorical variable lists
app_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()

In [10]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

C:\Users\13314\anaconda3\envs\deeplearning\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [11]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df, left_index=True,right_index=True)
application_df = application_df.drop(columns = app_cat)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [12]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=28)

C:\Users\13314\AppData\Local\Temp\ipykernel_2404\4290465882.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = application_df.drop(["IS_SUCCESSFUL"],1).values

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

number_input_features = len(X_train[0])
hidden_nodes_layer1 = 5
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 5)                 220

 dense_1 (Dense)             (None, 5)                 30

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 256
Trainable params: 256
Non-trainable params: 0
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

In [17]:
# Create a callback that saves the model's weights every 5 epochs
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq=4000)

In [18]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100,callbacks=[cp_callback])

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6399 - accuracy: 0.6511
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5735 - accuracy: 0.7263
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5647 - accuracy: 0.7261
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5601 - accuracy: 0.7257
Epoch 5/100
746/804 [==========================>...] - ETA: 0s - loss: 0.5582 - accuracy: 0.7269
Epoch 5: saving model to checkpoints\weights.05.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5581 - accuracy: 0.7269
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5568 - accuracy: 0.7275
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5556 - accuracy: 0.7286
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5551 - accuracy: 0.7284
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5547 - accuracy: 0.7292
Epoch 10/100
759/804 [===========================>..] - ETA: 0s - loss: 0.5545 - accuracy: 0.7294
Epoch 10: saving model to checkpoints\weights.10.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5540 - accuracy: 0.7292
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5536 - accuracy: 0.7292
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5533 - accuracy: 0.7289
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5527 - accuracy: 0.7293
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5526 - accuracy: 0.7292
Epoch 15/100
728/804 [==========================>...] - ETA: 0s - loss: 0.5512 - accuracy: 0.7306
Epoch 15: saving model to checkpoints\weights.15.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5524 - accuracy: 0.7292
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5519 - accuracy: 0.7287
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5519 - accuracy: 0.7290
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5519 - accuracy: 0.7294
Epoch 19/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5515 - accuracy: 0.7284
Epoch 20/100
708/804 [=========================>....] - ETA: 0s - loss: 0.5495 - accuracy: 0.7312
Epoch 20: saving model to checkpoints\weights.20.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5513 - accuracy: 0.7292
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5512 - accuracy: 0.7280
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5512 - accuracy: 0.7282
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5507 - accuracy: 0.7284
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5506 - accuracy: 0.7288
Epoch 25/100
681/804 [========================>.....] - ETA: 0s - loss: 0.5487 - accuracy: 0.7304
Epoch 25: saving model to checkpoints\weights.25.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5505 - accuracy: 0.7293
Epoch 26/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5505 - accuracy: 0.7281
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5502 - accuracy: 0.7299
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5502 - accuracy: 0.7292
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5500 - accuracy: 0.7292
Epoch 30/100
675/804 [========================>.....] - ETA: 0s - loss: 0.5485 - accuracy: 0.7301
Epoch 30: saving model to checkpoints\weights.30.hdf5
804/804 [==============================] - 3s 3ms/step - loss: 0.5496 - accuracy: 0.7293
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5500 - accuracy: 0.7294
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5498 - accuracy: 0.7296
Epoch 33/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5500 - accuracy: 0.7287
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5494 - accuracy: 0.7300
Epoch 35/100
649/804 [=======================>......] - ETA: 0s - loss: 0.5462 - accuracy: 0.7318
Epoch 35: saving model to checkpoints\weights.35.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5496 - accuracy: 0.7286
Epoch 36/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5497 - accuracy: 0.7291
Epoch 37/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5494 - accuracy: 0.7286
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5496 - accuracy: 0.7293
Epoch 39/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5494 - accuracy: 0.7290
Epoch 40/100
641/804 [======================>.......] - ETA: 0s - loss: 0.5472 - accuracy: 0.7301
Epoch 40: saving model to checkpoints\weights.40.hdf5
804/804 [==============================] - 3s 3ms/step - loss: 0.5492 - accuracy: 0.7289
Epoch 41/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5493 - accuracy: 0.7296
Epoch 42/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5492 - accuracy: 0.7292
Epoch 43/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5495 - accuracy: 0.7294
Epoch 44/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5490 - accuracy: 0.7289
Epoch 45/100
615/804 [=====================>........] - ETA: 0s - loss: 0.5506 - accuracy: 0.7270
Epoch 45: saving model to checkpoints\weights.45.hdf5
804/804 [==============================] - 3s 4ms/step - loss: 0.5492 - accuracy: 0.7296
Epoch 46/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5491 - accuracy: 0.7297
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5489 - accuracy: 0.7297
Epoch 48/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5489 - accuracy: 0.7294
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5487 - accuracy: 0.7289
Epoch 50/100
597/804 [=====================>........] - ETA: 0s - loss: 0.5494 - accuracy: 0.7274
Epoch 50: saving model to checkpoints\weights.50.hdf5
804/804 [==============================] - 3s 3ms/step - loss: 0.5493 - accuracy: 0.7282
Epoch 51/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5489 - accuracy: 0.7297
Epoch 52/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5487 - accuracy: 0.7292
Epoch 53/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5488 - accuracy: 0.7300
Epoch 54/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5484 - accuracy: 0.7297
Epoch 55/100
572/804 [====================>.........] - ETA: 0s - loss: 0.5499 - accuracy: 0.7298
Epoch 55: saving model to checkpoints\weights.55.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5485 - accuracy: 0.7304
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5487 - accuracy: 0.7296
Epoch 57/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5484 - accuracy: 0.7294
Epoch 58/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5485 - accuracy: 0.7297
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5483 - accuracy: 0.7293
Epoch 60/100
551/804 [===================>..........] - ETA: 0s - loss: 0.5474 - accuracy: 0.7296
Epoch 60: saving model to checkpoints\weights.60.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5482 - accuracy: 0.7307
Epoch 61/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5486 - accuracy: 0.7295
Epoch 62/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5482 - accuracy: 0.7301
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5486 - accuracy: 0.7297
Epoch 64/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5482 - accuracy: 0.7303
Epoch 65/100
539/804 [===================>..........] - ETA: 0s - loss: 0.5506 - accuracy: 0.7268
Epoch 65: saving model to checkpoints\weights.65.hdf5
804/804 [==============================] - 3s 3ms/step - loss: 0.5482 - accuracy: 0.7304
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5483 - accuracy: 0.7299
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5482 - accuracy: 0.7308
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5480 - accuracy: 0.7302
Epoch 69/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5481 - accuracy: 0.7301
Epoch 70/100
523/804 [==================>...........] - ETA: 0s - loss: 0.5502 - accuracy: 0.7287
Epoch 70: saving model to checkpoints\weights.70.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5482 - accuracy: 0.7301
Epoch 71/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5481 - accuracy: 0.7302
Epoch 72/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5482 - accuracy: 0.7300
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5481 - accuracy: 0.7299
Epoch 74/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5477 - accuracy: 0.7310
Epoch 75/100
500/804 [=================>............] - ETA: 0s - loss: 0.5532 - accuracy: 0.7274
Epoch 75: saving model to checkpoints\weights.75.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5481 - accuracy: 0.7307
Epoch 76/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5478 - accuracy: 0.7302
Epoch 77/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5480 - accuracy: 0.7302
Epoch 78/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5481 - accuracy: 0.7305
Epoch 79/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5479 - accuracy: 0.7311
Epoch 80/100
481/804 [================>.............] - ETA: 0s - loss: 0.5481 - accuracy: 0.7282
Epoch 80: saving model to checkpoints\weights.80.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5481 - accuracy: 0.7296
Epoch 81/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5479 - accuracy: 0.7312
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5479 - accuracy: 0.7300
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5478 - accuracy: 0.7307
Epoch 84/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5478 - accuracy: 0.7303
Epoch 85/100
462/804 [================>.............] - ETA: 1s - loss: 0.5477 - accuracy: 0.7320
Epoch 85: saving model to checkpoints\weights.85.hdf5
804/804 [==============================] - 3s 3ms/step - loss: 0.5478 - accuracy: 0.7310
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5480 - accuracy: 0.7304
Epoch 87/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5479 - accuracy: 0.7306
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5479 - accuracy: 0.7309
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5476 - accuracy: 0.7309
Epoch 90/100
436/804 [===============>..............] - ETA: 1s - loss: 0.5484 - accuracy: 0.7319
Epoch 90: saving model to checkpoints\weights.90.hdf5
804/804 [==============================] - 3s 3ms/step - loss: 0.5476 - accuracy: 0.7324
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5478 - accuracy: 0.7306
Epoch 92/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5475 - accuracy: 0.7311
Epoch 93/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5477 - accuracy: 0.7316
Epoch 94/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5478 - accuracy: 0.7310
Epoch 95/100
414/804 [==============>...............] - ETA: 1s - loss: 0.5446 - accuracy: 0.7333
Epoch 95: saving model to checkpoints\weights.95.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5477 - accuracy: 0.7308
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5476 - accuracy: 0.7301
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5477 - accuracy: 0.7304
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5479 - accuracy: 0.7310
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5476 - accuracy: 0.7313
Epoch 100/100
400/804 [=============>................] - ETA: 1s - loss: 0.5475 - accuracy: 0.7305
Epoch 100: saving model to checkpoints\weights.100.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5477 - accuracy: 0.7305

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5492 - accuracy: 0.7331 - 910ms/epoch - 3ms/step
Loss: 0.5491763353347778, Accuracy: 0.7330612540245056

In [20]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")